<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
{{ xcv }}
{% if age != None %}
<p>{{ age }} != 15</p>
{% else %}
<p>{{ age }} = 15</p>
{% endif %}
{% for user in users %}
    {{ user }}
{% endfor %}
{{ user1.name }}
<form action="" method="post">
    <p><b>Enter Your Login</b></p>
    <p><input type="text" name="login" placeholder="Login" /></p>
    <p><b>Enter Your Password</b></p>
    <p><input type="password" name="password" placeholder="Password" /></p>
    <p><input type="submit" value="Login"></p>
</form>
</body>
</html>